@{
    Layout = "_Layout";
}

@model MovieDatabase.Models.Film

<h4>Add a Movie</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.ReleaseDate)
    @Html.TextBoxFor(model => model.ReleaseDate, new { @type = "date" })
    <br />
    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating)
    <br />
    @Html.LabelFor(model => model.Director)
    @Html.TextBoxFor(model => model.Director)
    <br />
    @Html.LabelFor(model => model.MpaRating)
    @Html.TextBoxFor(model => model.MpaRating)
    <br />
    @Html.LabelFor(model => model.UrlImage)
    @Html.TextBoxFor(model => model.UrlImage)
    <br />
    <input type="submit" value="Add new movie" />
}
<!-- <label for="releaseDate">Enter the Release Date</label>
    <input type="date" asp-for="ReleaseDate" /> -->