@model MovieDatabase.Models.Film
@using MovieDatabase.Models
@using System.Collections.Generic;

<h2>Movie Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<img height="400rem" src="@Html.DisplayFor(model => model.UrlImage)" alt="movie poster" />
<hr />
@if (Model.IsWatched)
{
    <h3>Status: Watched</h3>
}
else
{
    <div id="notWatched">
    <h3>Status: Not yet watched</h3>

    @using (Html.BeginForm("MarkAsWatched", "Films", new { id = Model.FilmId }))
        {
            <label>Mark as </label>
            <input type="submit" value="watched" />
        }
    </div>
}
<hr />

<h3>Release Date: @Model.ReleaseDate.ToString("d")</h3>
<h3>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h3>
<h3>@Html.DisplayNameFor(model => model.Director): @Html.DisplayFor(model => model.Director)</h3>
<h3>MPA Rating: @Model.MpaRating</h3>


@if (@Model.JoinEntities.Count == 0)
{
    <p>There are no actors added to this film yet.</p>
}
else
{
    <h4>Cast:</h4>
    <ul>
    @foreach (ActorFilm join in Model.JoinEntities)
        {
            <li>@join.Actor.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Films"))
            {
                @Html.Hidden("joinId", @join.ActorFilmId)
                <input type="submit" value="Delete" />
            }
        }
    </ul>
}
<a href="/films/addactor/@Model.FilmId">
    <img class="icon" src="~/assets/images/addIcon.png" alt="add icon">
</a>
<a href="/films/edit/@Model.FilmId">
    <img class="icon" src="~/assets/images/editIcon.webp" alt="add icon">
</a>
<a href="/films/delete/@Model.FilmId">
    <img class="icon" src="~/assets/images/deleteIcon.png" alt="add icon">
</a>

<p>@Html.ActionLink("Add an actor", "AddActor", new { id = Model.FilmId })</p>
<p>@Html.ActionLink("Edit film", "Edit", new { id = Model.FilmId })</p>
<p>@Html.ActionLink("Delete film", "Delete", new { id = Model.FilmId })</p>
<p>@Html.ActionLink("Back to movie list", "Index")</p>