@model MovieDatabase.Models.Actor
@using MovieDatabase.Models
@using System.Collections.Generic;

<h2>Actor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<img height="400rem" src="@Html.DisplayFor(model => model.UrlImage)" alt="movie poster" />

@if (@Model.JoinEntities.Count == 0)
{
    <p>This actor is not in any films yet</p>
}
else
{
    <h4>This actor is in the following movies:</h4>
    <ul>
    @foreach (ActorFilm join in Model.JoinEntities)
        {
            <li>Film: @join.Film.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Actors"))
            {
                @Html.Hidden("joinId", @join.ActorFilmId)
                <input type="submit" value="Delete" />
            }
        }
    </ul>
}
<p>@Html.ActionLink("Add a Film", "AddFilm", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Edit actor bio", "Edit", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Cancel Actor", "Delete", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Back list of Actors", "Index")</p>